html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #222222;
    height: 100vh;
    margin: 0;
}

#mars {
    background: linear-gradient(#1b245d, #f24200 60%);
    position: relative;
    flex: 1280px 0 0;
    height: 720px;
    overflow: hidden;
}

@keyframes distantStarsParallax {
    0% {
        transform: translate3d(0, -0.7%, 0);
    }
	100% {
        transform: translate3d(-50%, -0.7%, 0);
    }
}

#distant-stars {
    animation: distantStarsParallax 800s linear infinite;
    animation-delay: -22.5s;
    background-image: url('./assets/distant-stars.svg');
    background-size: 50% 100%;
    width: 200%;
    transform: translate3d(0, -0.7%, 0);
}

@keyframes closeStarsParallax {
    0% {
        transform: translate3d(0, -1%, 0);
    }
	100% {
        transform: translate3d(-50%, -1%, 0);
    }
}

#close-stars {
    animation: closeStarsParallax 300s linear infinite;
    animation-delay: -24.25s;
    background-image: url('./assets/close-stars.svg');
    background-size: 50% 100%;
    width: 200%;
    transform: translate3d(0, -1%, 0);
}

@keyframes smallPlanetParallax {
    0% {
        transform: translate3d(45.6%, 0.8%, 0);
    }
	100% {
        transform: translate3d(-100%, 0.8%, 0);
    }
}

#small-planet {
    animation: smallPlanetParallax 365s linear infinite;
    animation-delay: -138.3s;
    background-image: linear-gradient(#1b245d 1%, #f24200 58%);
    mask-image: url('./assets/small-planet.svg');
    mask-repeat: no-repeat;
    transform: translate3d(45.6%, 0.8%, 0);
}

#small-planet::before {
    content: '';
    background-image: url('./assets/small-planet.svg');
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0.5;
}

@keyframes largePlanetParallax {
    0% {
        transform: translate3d(100%, 0, 0);
    }
	100% {
        transform: translate3d(-53%, 0, 0);
    }
}

#large-planet {
    animation: largePlanetParallax 305s linear infinite;
    animation-delay: -255.2s;
    background-image: linear-gradient(#1b245d, #f24200 60%);
    mask-image: url('./assets/large-planet.svg');
    mask-repeat: no-repeat;
    mask-size: 200% 100%;
    transform: translate3d(100%, 0, 0);
}

#large-planet::before {
    content: '';
    background-image: url('./assets/large-planet.svg');
    background-repeat: no-repeat;
    background-size: 200% 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0.5;
}

@keyframes cloudsParallax {
	0% {
        transform: translate3d(0, 20.8%, 0);
    }
    100% {
        transform: translate3d(-50%, 20.8%, 0);
    }
}

#clouds {
    animation: cloudsParallax 180s linear infinite;
    animation-delay: -24.5s;
    background-image: url('./assets/clouds.svg');
    background-size: 50% 100%;
    width: 200%;
    transform: translate3d(0, 20.8%, 0);
}

@keyframes backMountainsParallax {
	0% {
        transform: translate3d(0, 28.5%, 0);
    }
    100% {
        transform: translate3d(-50%, 28.5%, 0);
    }
}

#back-mountains {
    animation: backMountainsParallax 140s linear infinite;
    animation-delay: -24.2s;
    background-image: url('./assets/back-mountains.svg');
    background-size: 50% 100%;
    width: 200%;
    transform: translate3d(0, 28.5%, 0);
}

@keyframes middleMountainsParallax {
	0% {
        transform: translate3d(0, 30.8%, 0);
    }
    100% {
        transform: translate3d(-50%, 30.8%, 0);
    }
}

#middle-mountains {
    animation: middleMountainsParallax 80s linear infinite;
    animation-delay: -24.5s;
    background-image: url('./assets/middle-mountains.svg');
    background-size: 50% 100%;
    width: 200%;
    transform: translate3d(0, 30.8%, 0);
}

@keyframes frontMountainsParallax {
	0% {
        transform: translate3d(0, 32%, 0);
    }
    100% {
        transform: translate3d(-50%, 32%, 0);
    }
}

#front-mountains {
    animation: frontMountainsParallax 50s linear infinite;
    animation-delay: -24.5s;
    background-image: url('./assets/front-mountains.svg');
    background-size: 50% 100%;
    width: 200%;
    transform: translate3d(0, 32%, 0);
}

@keyframes roverBodySurfaceBump {
    0%, 33% {
        transform: translate3d(-50%, 0, 0) rotate3d(0, 0, 0, 0deg);
    }
    44.16% {
        transform: translate3d(-50%, 0, 0) rotate3d(0, 0, 1, -2deg);
    }
    66.48% {
        transform: translate3d(-50%, 0, 0) rotate3d(0, 0, 1, 2.5deg);
    }
    88.8% {
        transform: translate3d(-50%, 0, 0) rotate3d(0, 0, 1, -2deg);
    }
    100% {
        transform: translate3d(-50%, 0, 0) rotate3d(0, 0, 1, 0deg);
    }
}

#rover {
    animation: roverBodySurfaceBump 3s linear infinite;
    position: absolute;
    top: 67.7%;
    left: 50.15%;
    width: 16.5%;
    height: 24.8%;
    transform: translate3d(-50%, 0, 0) rotate3d(0, 0, 0, 0deg);
}

#rover .camera {
    background-image: url('./assets/rover-camera.svg');
    background-repeat: no-repeat;
    background-size: contain;
    left: 79px;
    width: 54px;
    z-index: 8;
}

#rover .neck {
    background-color: #b3c3c6;
    top: 29px;
    left: 102px;
    width: 8px;
    height: 57px;
}

#rover .body .arm {
    background-color: #b2c3c6;
    top: 66px;
    left: 67px;
    width: 8px;
    height: 22px;
}

#rover .body .antenna {
    background-color: #b2c3c6;
    top: 76px;
    left: 153px;
    width: 5px;
    height: 12px;
}

#rover .body .upper-top,
#rover .body .upper-bottom,
#rover .body .lower {
    height: 0;
}

#rover .body .upper-top {
    border-left: 13px solid transparent;
    border-right: 13px solid transparent;
    border-bottom: 20px solid #eef0f1;
    top: 86px;
    left: 22px;
    width: 169px;
}

#rover .body .upper-bottom {
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    border-bottom: 16px solid #b3c3c6;
    top: 104px;
    left: 12px;
    width: 189px;
}

#rover .body .lower {
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 34px solid #b3c3c6;
    top: 120px;
    left: 12px;
    width: 189px;
}

#rover .body .windows {
    display: flex;
    justify-content: center;
    top: 105px;
}

#rover .body .windows > span {
    background-color: #d2d5d1;
    margin: 0 6px;
    width: 11px;
    height: 11px;
}

#rover .full-arm .elbow,
#rover .full-arm .shoulder {
    background-color: #3c435a;
    border-radius: 100%;
    z-index: 8;
}

#rover .full-arm .elbow {
    top: 16px;
    left: 15px;
    width: 13px;
    height: 13px;
}

#rover .full-arm .shoulder {
    top: 50px;
    left: 62px;
    width: 17px;
    height: 17px;
}

#rover .full-arm .upper {
    background-color: #b3c3c6;
    width: 6px;
    height: 60px;
    transform: translate3d(44px, 11px, 0) rotate3d(0, 0, 1, -54deg);
}

@keyframes roverArmSurfaceBump {
    0%, 33% {
        transform: rotate3d(0, 0, 0, 0deg);
    }
    44.16% {
        transform: rotate3d(0, 0, 1, 8deg);
    }
    66.48% {
        transform: rotate3d(0, 0, 1, -12deg);
    }
    88.8% {
        transform: rotate3d(0, 0, 1, 8deg);
    }
    100% {
        transform: rotate3d(0, 0, 1, 0deg);
    }
}

#rover .full-arm .lower {
    animation: roverArmSurfaceBump 3s linear infinite;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    height: auto;
    top: 27px;
    left: 10px;
    transform: rotate3d(0, 0, 0, 0deg);
    transform-origin: top;
}

#rover .full-arm .lower .forearm {
    background-color: #b3c3c6;
    width: 6px;
    height: 31px;
}

#rover .full-arm .lower .claw {
    background-image: url('./assets/rover-claw.svg');
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: -1px;
    width: 22px;
    height: 14px;
}

#rover .antenna {
    width: 51px;
    height: 51px;
    left: auto;
    top: 27px;
    right: 30.5px;
}

@keyframes roverAntennaDishLeftRotation {
    0%, 25% {
        transform: scale3d(0, 1, 1);
    }
    50%, 100% {
        transform: scale3d(1, 1, 1);
    }
}

#rover .antenna .dish-left {
    animation: roverAntennaDishLeftRotation 6s linear infinite;
    background-color: #3c435a;
    border-top-left-radius: 51px;
    border-bottom-left-radius: 51px;
    left: 1%;
    width: 50%;
    height: 100%;
    transform: scale3d(0, 1, 1);
    transform-origin: 25.5px;
    z-index: 2;
}

@keyframes roverAntennaDishRightRotation {
    0%, 50% {
        transform: scale3d(1, 1, 1);
    }
    75% {
        transform: scale3d(0, 1, 1);
    }
    100% {
        transform: scale3d(1, 1, 1);
    }
}

#rover .antenna .dish-right {
    animation: roverAntennaDishRightRotation 6s linear infinite;
    background-color: #3c435a;
    border-top-right-radius: 51px;
    border-bottom-right-radius: 51px;
    left: 50%;
    width: 50%;
    height: 100%;
    transform: scale3d(1, 1, 1);
    transform-origin: 0px;
    z-index: 2;
}

@keyframes roverAntennaDishFaceRotation {
    0% {
        transform: scale3d(1, 1, 1);
    }
    25%, 75% {
        transform: scale3d(0, 1, 1);
    }
    100% {
        transform: scale3d(1, 1, 1);
    }
}

#rover .antenna .dish-face {
    animation: roverAntennaDishFaceRotation 6s linear infinite;
    background: radial-gradient(closest-side, #b7b6b9 5%, #ffffff 35%, #ffffff 50%, #9c9b9e);
    border-radius: 100%;
    transform: scale3d(1, 1, 1);
    z-index: 4;
}

@keyframes roverAntennaFeedSpin {
    0% {
        transform: scale3d(0, 1, 1);
        z-index: 6;
    }
    25% {
        transform: scale3d(-0.21, 1, 1);
        z-index: 6;
    }
    25.001% {
        z-index: 0;
    }
    50% {
        transform: scale3d(0, 1, 1);
        z-index: 0;
    }
    74.999% {
        z-index: 0;
    }
    75% {
        transform: scale3d(0.21, 1, 1);
        z-index: 6;
    }
    100% {
        transform: scale3d(0, 1, 1);
        z-index: 6;
    }
}

#rover .antenna .feed {
    animation: roverAntennaFeedSpin 6s linear infinite;
    background-color: #b3c3c6;
    top: 50%;
    left: 50%;
    margin-top: -3px;
    height: 6px;
    transform: scale3d(0, 1, 1);
    transform-origin: 0px;
    z-index: 6;
}

@keyframes roverAntennaReflectorSpin {
    0% {
        transform: translate3d(0, 0, 0);
    }
    25% {
        transform: translate3d(-15px, 0, 0);
    }
    50% {
        transform: translate3d(0, 0, 0);
    }
    75% {
        transform: translate3d(15px, 0, 0);
    }
    100% {
        transform: translate3d(0, 0, 0);
    }
}

#rover .antenna .reflector {
    animation: roverAntennaReflectorSpin 6s linear infinite;
    background-color: #3c435a;
    border-radius: 100%;
    top: 50%;
    left: 50%;
    margin: -6px 0 0 -6px;
    width: 12px;
    height: 12px;
    transform: translate3d(0, 0, 0);
    z-index: 8;
}

#rover .wheels {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#rover .wheels .wheel {
    background-image: url('./assets/rover-wheel.svg');
    background-size: contain;
    position: relative;
    margin: 0 5px;
    width: 54px;
    height: 54px;
}

@keyframes roverWheelAnimation {
    0% {
        transform: translate3d(0, 0, 0) rotate3d(0, 0, 1, 0deg);
    }
    86% {
        transform: translate3d(0, 0, 0) rotate3d(0, 0, 1, 154.8deg);
    }
    90% {
        transform: translate3d(0, -6px, 0) rotate3d(0, 0, 1, 162deg);
    }
    94% {
        transform: translate3d(0, 0, 0) rotate3d(0, 0, 1, 169.2deg);
    }
    96% {
        transform: translate3d(0, 3px, 0) rotate3d(0, 0, 1, 172.8deg);
    }
    98% {
        transform: translate3d(0, -3px, 0) rotate3d(0, 0, 1, 176.4deg);
    }
    100% {
        transform: translate3d(0, 0, 0) rotate3d(0, 0, 1, 180deg);
    }
}

#rover .wheels .wheel {
    animation: roverWheelAnimation 3s linear infinite;
}

#rover .wheels .wheel:nth-child(1) {
    transform: translate3d(0, 0, 0) rotate3d(0, 0, 1, 0deg);
}

#rover .wheels .wheel:nth-child(2) {
    animation-delay: -0.15s;
    transform: translate3d(0, 0, 0) rotate3d(0, 0, 1, 0deg);
}

#rover .wheels .wheel:nth-child(3) {
    animation-delay: -0.30s;
    transform: translate3d(0, 0, 0) rotate3d(0, 0, 1, 0deg);
}

#rover .wheels .wheel::after {
    content: '';
    background-color: #bdc3c7;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 18px;
    height: 18px;
    transform: translate3d(-50%, -50%, 0);
}

.absolute {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
